openapi: 3.1.0
info:
  title: API Reference async_process catalog_item_search API
  version: 1.0.0
  contact:
    name: Sentinel Hub
  description: '**NOTE:** _Asynchronous Processing API is currently in beta release._

    '
servers:
- url: https://services.sentinel-hub.com
tags:
- name: catalog_item_search
  x-displayName: Item Search
  description: This is an OpenAPI definition of the SpatioTemporal Asset Catalog API - Item Search specification.
paths:
  /catalog/v1/search:
    get:
      summary: Search STAC items with simple filtering.
      operationId: getCatalogItemSearch
      description: 'Retrieve Items matching filters. Intended as a shorthand API for simple

        queries.


        This method is required to implement.


        If this endpoint is implemented on a server, it is required to add a

        link referring to this endpoint with `rel` set to `search` to the

        `links` array in `GET /`. As `GET` is the default method, the `method`

        may not be set explicitly in the link.'
      tags:
      - catalog_item_search
      parameters:
      - $ref: '#/components/parameters/CatalogItemSearchBbox'
      - $ref: '#/components/parameters/CatalogItemSearchIntersects'
      - $ref: '#/components/parameters/CatalogItemSearchDatetime'
      - $ref: '#/components/parameters/CatalogItemSearchLimit'
      - $ref: '#/components/parameters/CatalogItemSearchIds'
      - $ref: '#/components/parameters/CatalogItemSearchCollectionsArray'
      - $ref: '#/components/parameters/CatalogItemSearchFieldsFields'
      - $ref: '#/components/parameters/CatalogItemSearchFilterFilter'
      - $ref: '#/components/parameters/CatalogItemSearchDistinctDistinct'
      responses:
        '200':
          description: A feature collection.
          content:
            application/geo+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CatalogItemSearchItemCollectionItemCollection'
                - $ref: '#/components/schemas/CatalogItemSearchContextItemCollection'
              example:
                type: FeatureCollection
                features:
                - bbox:
                  - 12.456873618680804
                  - 44.138006014975964
                  - 13.558241653952589
                  - 45.144727105915536
                  id: S2B_MSIL2A_20201229T101329_N0214_R022_T33TUK_20201229T115442
                  type: Feature
                  properties:
                    proj:epsg: 32633
                    datetime: '2020-12-29T10:18:19Z'
                    instruments:
                    - msi
                    constellation: sentinel-2
                    proj:geometry:
                      crs:
                        type: name
                        properties:
                          name: urn:ogc:def:crs:EPSG::32633
                      coordinates:
                      - - - - 300000.99988415383
                            - 5000039.000148304
                          - - 300000.99989785976
                            - 4890241.000124758
                          - - 352314.4884079728
                            - 4890241.000125499
                          - - 386653.8629171661
                            - 5000039.000149397
                          - - 300000.99988415383
                            - 5000039.000148304
                      type: MultiPolygon
                    eo:cloud_cover: 93.93
                    gsd: 10
                    proj:bbox:
                    - 300000
                    - 4890240
                    - 409800
                    - 5000040
                    platform: sentinel-2b
                links:
                - href: https://services.sentinel-hub.com/catalog/v1/search?collections=sentinel-2-l2a&bbox=13,45,14,46&limit=1&datetime=2020-12-10T00:00:00Z/2020-12-30T00:00:00Z&filter=eo:cloud_cover>90&fields=id,type,-geometry,bbox,properties,-links,-assets
                  rel: self
                  type: application/geo+json
                - href: https://services.sentinel-hub.com/catalog/v1/search?collections=sentinel-2-l2a&bbox=13,45,14,46&limit=1&datetime=2020-12-10T00:00:00Z/2020-12-30T00:00:00Z&filter=eo:cloud_cover>90&fields=id,type,-geometry,bbox,properties,-links,-assets&next=1
                  rel: next
                  type: application/geo+json
                  title: Next set of results
                context:
                  next: 1
                  limit: 1
                  returned: 1
        '400':
          $ref: '#/components/responses/CatalogAccessControlIllegalCollection'
        '403':
          $ref: '#/components/responses/CatalogAccessControlInsufficientPermissions'
        '500':
          $ref: '#/components/responses/CatalogError'
      security:
      - OAuth2: []
    post:
      summary: Search STAC items with full-featured filtering.
      operationId: postCatalogItemSearch
      description: 'Retrieve items matching filters. Intended as the standard, full-featured

        query API.


        This method is optional to implement, but recommended.


        If this endpoint is implemented on a server, it is required to add a

        link referring to this endpoint with `rel` set to `search` and `method`

        set to `POST` to the `links` array in `GET /`.'
      tags:
      - catalog_item_search
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CatalogItemSearchSearchBody'
              - $ref: '#/components/schemas/CatalogItemSearchFieldsSearchBody'
              - $ref: '#/components/schemas/CatalogItemSearchFilterSearchBody'
              - $ref: '#/components/schemas/CatalogItemSearchDistinctSearchBody'
            example:
              collections:
              - sentinel-2-l2a
              bbox:
              - 13
              - 45
              - 14
              - 46
              datetime: 2020-12-10T00:00:00Z/2020-12-30T00:00:00Z
              fields:
                include:
                - id
                - type
                - bbox
                - properties
                exclude:
                - geometry
                - links
                - assets
              filter:
                op: '>'
                args:
                - property: eo:cloud_cover
                - 90
              filter-lang: cql2-json
              limit: 1
      responses:
        '200':
          description: A feature collection.
          content:
            application/geo+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CatalogItemSearchItemCollectionItemCollection'
                - $ref: '#/components/schemas/CatalogItemSearchContextItemCollection'
              example:
                type: FeatureCollection
                features:
                - bbox:
                  - 12.456873618680804
                  - 44.138006014975964
                  - 13.558241653952589
                  - 45.144727105915536
                  id: S2B_MSIL2A_20201229T101329_N0214_R022_T33TUK_20201229T115442
                  type: Feature
                  properties:
                    proj:epsg: 32633
                    datetime: '2020-12-29T10:18:19Z'
                    instruments:
                    - msi
                    constellation: sentinel-2
                    proj:geometry:
                      crs:
                        type: name
                        properties:
                          name: urn:ogc:def:crs:EPSG::32633
                      coordinates:
                      - - - - 300000.99988415383
                            - 5000039.000148304
                          - - 300000.99989785976
                            - 4890241.000124758
                          - - 352314.4884079728
                            - 4890241.000125499
                          - - 386653.8629171661
                            - 5000039.000149397
                          - - 300000.99988415383
                            - 5000039.000148304
                      type: MultiPolygon
                    eo:cloud_cover: 93.93
                    gsd: 10
                    proj:bbox:
                    - 300000
                    - 4890240
                    - 409800
                    - 5000040
                    platform: sentinel-2b
                links:
                - href: https://services.sentinel-hub.com/catalog/v1/search
                  rel: self
                  type: application/geo+json
                - href: https://services.sentinel-hub.com/catalog/v1/search
                  rel: next
                  type: application/geo+json
                  title: Next set of results
                  method: POST
                  body:
                    next: 1
                  merge: true
                context:
                  next: 1
                  limit: 1
                  returned: 1
        '400':
          $ref: '#/components/responses/CatalogAccessControlIllegalCollection'
        '403':
          $ref: '#/components/responses/CatalogAccessControlInsufficientPermissions'
        '500':
          $ref: '#/components/responses/CatalogError'
      security:
      - OAuth2: []
components:
  parameters:
    CatalogItemSearchIds:
      name: ids
      in: query
      description: Array of Item ids to return.
      required: false
      schema:
        $ref: '#/components/schemas/CatalogItemSearchIds'
      explode: false
    CatalogItemSearchIntersects:
      name: intersects
      in: query
      description: 'The optional intersects parameter filters the result Items in the same was as bbox, only with

        a GeoJSON Geometry rather than a bbox.'
      required: false
      schema:
        $ref: '#/components/schemas/CatalogGeometryGeoJSON'
      style: form
      explode: false
    CatalogItemSearchFieldsFields:
      name: fields
      x-stac-api-fragment: fields
      in: query
      description: '**Extension:** Fields


        Determines the shape of the features in the response'
      required: false
      schema:
        type: string
        example: id,type,-geometry,bbox,properties,-links,-assets
      style: form
      explode: false
    CatalogItemSearchBbox:
      name: bbox
      in: query
      description: 'Only features that have a geometry that intersects the bounding box are selected.

        The bounding box is provided as four or six numbers, depending on

        whether the coordinate reference system includes a vertical axis (height

        or depth):


        * Lower left corner, coordinate axis 1

        * Lower left corner, coordinate axis 2

        * Minimum value, coordinate axis 3 (optional)

        * Upper right corner, coordinate axis 1

        * Upper right corner, coordinate axis 2

        * Maximum value, coordinate axis 3 (optional)


        The coordinate reference system of the values is WGS 84

        longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84).


        For WGS 84 longitude/latitude the values are in most cases the sequence

        of minimum longitude, minimum latitude, maximum longitude and maximum

        latitude. However, in cases where the box spans the antimeridian the

        first value (west-most box edge) is larger than the third value

        (east-most box edge).


        If the vertical axis is included, the third and the sixth number are

        the bottom and the top of the 3-dimensional bounding box.


        If a feature has multiple spatial geometry properties, it is the

        decision of the server whether only a single spatial geometry property

        is used to determine the extent or all relevant geometries.


        Example: The bounding box of the New Zealand Exclusive Economic Zone in

        WGS 84 (from 160.6°E to 170°W and from 55.95°S to 25.89°S) would be

        represented in JSON as `[160.6, -55.95, -170, -25.89]` and in a query as

        `bbox=160.6,-55.95,-170,-25.89`.'
      required: false
      schema:
        type: array
        oneOf:
        - minItems: 4
          maxItems: 4
        - minItems: 6
          maxItems: 6
        items:
          type: number
      style: form
      explode: false
      example:
      - 13
      - 45
      - 14
      - 46
    CatalogItemSearchDistinctDistinct:
      name: distinct
      x-stac-api-fragment: distinct
      in: query
      description: '**Extension:** Distinct


        Return distinct values of specified property.'
      required: false
      schema:
        type: string
      style: form
      explode: false
    CatalogItemSearchLimit:
      name: limit
      in: query
      description: 'The optional limit parameter recommends the number of items that should be present in the response document.


        Only items are counted that are on the first level of the collection in the response document.

        Nested objects contained within the explicitly requested items must not be counted.


        Minimum = 1. Maximum = 100. Default = 10.'
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      style: form
      explode: false
      example: 1
    CatalogItemSearchCollectionsArray:
      name: collections
      in: query
      description: 'Array of Collection IDs to include in the search for items.

        Only Item objects in one of the provided collections will be searched

        '
      required: true
      schema:
        $ref: '#/components/schemas/CatalogItemSearchCollectionsArray'
      explode: false
      example:
      - sentinel-2-l2a
    CatalogItemSearchDatetime:
      name: datetime
      in: query
      description: 'Either a date-time or an interval, open or closed. Date and time expressions

        adhere to RFC 3339. Open intervals are expressed using double-dots.


        Examples:


        * A date-time: "2018-02-12T23:20:50Z"

        * A closed interval: "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z"

        * Open intervals: "2018-02-12T00:00:00Z/.." or "../2018-03-18T12:31:12Z"


        Only features that have a temporal property that intersects the value of

        `datetime` are selected.


        If a feature has multiple temporal properties, it is the decision of the

        server whether only a single temporal property is used to determine

        the extent or all relevant temporal properties.'
      required: true
      schema:
        type: string
      style: form
      explode: false
      example: 2020-12-10T00:00:00Z/2020-12-30T00:00:00Z
    CatalogItemSearchFilterFilter:
      name: filter
      x-stac-api-fragment: filter
      in: query
      description: '**Extension:** Filter


        A CQL2 filter expression for filtering items.'
      required: false
      schema:
        $ref: '#/components/schemas/CatalogItemSearchFilterFilterCql2Text'
      example: eo:cloud_cover>90
  schemas:
    CatalogMultipolygonGeoJSON:
      title: multipolygonGeoJSON
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - MultiPolygon
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              minItems: 4
              items:
                type: array
                minItems: 2
                items:
                  type: number
    CatalogPointGeoJSON:
      title: pointGeoJSON
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - Point
        coordinates:
          type: array
          minItems: 2
          items:
            type: number
    Cql2NotExpression:
      title: cql2NotExpression
      type: object
      required:
      - op
      - args
      properties:
        op:
          type: string
          enum:
          - not
        args:
          type: array
          minItems: 1
          maxItems: 1
          items:
            $ref: '#/components/schemas/Cql2BooleanExpression'
    CatalogProperties:
      title: properties
      type: object
      required:
      - datetime
      description: provides the core metadata fields plus extensions
      properties:
        datetime:
          $ref: '#/components/schemas/CatalogDatetime'
      additionalProperties:
        description: Any additional properties added in via Item specification or extensions.
    Cql2BooleanExpression:
      title: booleanExpression
      oneOf:
      - $ref: '#/components/schemas/Cql2AndExpression'
      - $ref: '#/components/schemas/Cql2NotExpression'
      - $ref: '#/components/schemas/Cql2ComparisonPredicate'
    CatalogItemSearchFilterSearchBody:
      title: searchBody
      type: object
      x-stac-api-fragment: filter
      description: '**Extension:** Filter


        A filter for properties in Items.'
      properties:
        filter:
          $ref: '#/components/schemas/CatalogItemSearchFilterFilterCql2Json'
        filter-lang:
          $ref: '#/components/schemas/CatalogItemSearchFilterFilterLang'
        filter-crs:
          $ref: '#/components/schemas/CatalogItemSearchFilterFilterCrs'
    CatalogDatetime:
      title: datetime
      description: 'The searchable date and time of the assets, in UTC.

        It is formatted according to [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6).

        `null` is allowed, but requires `start_datetime` and `end_datetime` from common metadata to be set.'
      oneOf:
      - type: string
        format: date-time
      - type: 'null'
      example: '2018-02-12T00:00:00Z'
    CatalogItemSearchFieldsFields:
      title: fields
      description: 'The include and exclude members specify an array of

        property names that are either included or excluded

        from the result, respectively. If both include and

        exclude are specified, include takes precedence.

        Values should include the full JSON path of the property.

        '
      type: object
      properties:
        include:
          type: array
          items:
            type: string
        exclude:
          type: array
          items:
            type: string
      example:
        include:
        - id
        - properties.eo:cloud_cover
        exclude:
        - geometry
        - properties.datetime
    Cql2ScalarExpression:
      title: scalarExpression
      oneOf:
      - $ref: '#/components/schemas/Cql2CharacterExpression'
      - $ref: '#/components/schemas/Cql2NumericExpression'
    CatalogLinks:
      title: links
      type: array
      items:
        $ref: '#/components/schemas/CatalogLink'
    CatalogItemSearchDistinctDistinct:
      title: distinct
      description: 'Return distinct values of specified property.

        '
      type: string
    CatalogAssets:
      title: assets
      type: object
      additionalProperties:
        type: object
        required:
        - href
        properties:
          href:
            type: string
            format: url
            description: Link to the asset object
          title:
            type: string
            description: Displayed title
            example: Thumbnail
          description:
            type: string
            description: 'Multi-line description to explain the asset.


              [CommonMark 0.29](http://commonmark.org/) syntax MAY be used for rich text representation.'
            example: Small 256x256px PNG thumbnail for a preview.
          type:
            type: string
            description: Media type of the asset
            example: image/png
          roles:
            type: array
            items:
              type: string
            description: Purposes of the asset
            example:
            - thumbnail
    Cql2AndExpression:
      title: andExpression
      type: object
      required:
      - op
      - args
      properties:
        op:
          type: string
          enum:
          - and
        args:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/Cql2BooleanExpression'
    CatalogItemSearchBboxFilter:
      title: bboxFilter
      type: object
      description: Only return items that intersect the provided bounding box.
      properties:
        bbox:
          $ref: '#/components/schemas/CatalogBbox'
    CatalogStacVersion:
      title: STAC version
      type: string
      example: 1.0.0
    CatalogItemSearchIdsFilter:
      title: idsFilter
      type: object
      description: Only returns items that match the array of given ids
      properties:
        ids:
          $ref: '#/components/schemas/CatalogItemSearchIds'
    CatalogItemType:
      title: itemType
      type: string
      description: The GeoJSON type
      enum:
      - Feature
    CatalogItemSearchCollectionsFilter:
      title: collectionsFilter
      type: object
      description: Only returns the collections specified
      properties:
        collections:
          $ref: '#/components/schemas/CatalogItemSearchCollectionsArray'
    CatalogBbox:
      title: bbox
      description: 'Only features that have a geometry that intersects the bounding box are

        selected. The bounding box is provided as four or six numbers,

        depending on whether the coordinate reference system includes a

        vertical axis (elevation or depth):


        * Lower left corner, coordinate axis 1

        * Lower left corner, coordinate axis 2

        * Lower left corner, coordinate axis 3 (optional)

        * Upper right corner, coordinate axis 1

        * Upper right corner, coordinate axis 2

        * Upper right corner, coordinate axis 3 (optional)


        The coordinate reference system of the values is WGS84

        longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84).


        For WGS84 longitude/latitude the values are in most cases the sequence

        of minimum longitude, minimum latitude, maximum longitude and maximum

        latitude. However, in cases where the box spans the antimeridian the

        first value (west-most box edge) is larger than the third value

        (east-most box edge).


        If a feature has multiple spatial geometry properties, it is the

        decision of the server whether only a single spatial geometry property

        is used to determine the extent or all relevant geometries.


        Example: The bounding box of the New Zealand Exclusive Economic Zone in

        WGS 84 (from 160.6°E to 170°W and from 55.95°S to 25.89°S) would be

        represented in JSON as `[160.6, -55.95, -170, -25.89]` and in a query as

        `bbox=160.6,-55.95,-170,-25.89`.'
      type: array
      minItems: 4
      maxItems: 6
      items:
        type: number
      example:
      - -110
      - 39.5
      - -105
      - 40.5
    CatalogGeometryGeoJSON:
      title: geometryGeoJSON
      oneOf:
      - $ref: '#/components/schemas/CatalogPointGeoJSON'
      - $ref: '#/components/schemas/CatalogMultipointGeoJSON'
      - $ref: '#/components/schemas/CatalogLinestringGeoJSON'
      - $ref: '#/components/schemas/CatalogMultilinestringGeoJSON'
      - $ref: '#/components/schemas/CatalogPolygonGeoJSON'
      - $ref: '#/components/schemas/CatalogMultipolygonGeoJSON'
      - $ref: '#/components/schemas/CatalogGeometrycollectionGeoJSON'
    CatalogPolygonGeoJSON:
      title: polygonGeoJSON
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - Polygon
        coordinates:
          type: array
          items:
            type: array
            minItems: 4
            items:
              type: array
              minItems: 2
              items:
                type: number
    CatalogItemSearchSearchBody:
      title: searchBody
      description: The search criteria
      type: object
      required:
      - datetime
      - collections
      allOf:
      - $ref: '#/components/schemas/CatalogItemSearchBboxFilter'
      - $ref: '#/components/schemas/CatalogItemSearchDatetimeFilter'
      - $ref: '#/components/schemas/CatalogItemSearchIntersectsFilter'
      - $ref: '#/components/schemas/CatalogItemSearchCollectionsFilter'
      - $ref: '#/components/schemas/CatalogItemSearchIdsFilter'
      - $ref: '#/components/schemas/CatalogItemSearchLimitFilter'
    CatalogItemSearchFilterFilterLang:
      title: filter-lang
      description: 'The CQL2 filter encoding that the ''filter'' value uses.

        '
      type: string
      enum:
      - cql2-text
      - cql2-json
    CatalogItemId:
      title: itemId
      type: string
      description: Provider identifier, a unique ID.
    CatalogItemSearchFilterFilterCrs:
      title: filter-crs
      description: 'The coordinate reference system (CRS) used by spatial literals in the ''filter'' value.  The only value that STAC APIs must

        accept is ''http://www.opengis.net/def/crs/OGC/1.3/CRS84''.

        '
      type: string
      format: uri
    CatalogItemSearchItemCollectionItemCollection:
      title: itemCollection
      description: A GeoJSON FeatureCollection augmented with foreign members that contain values relevant to a STAC entity
      type: object
      required:
      - features
      - type
      properties:
        type:
          type: string
          enum:
          - FeatureCollection
        features:
          type: array
          items:
            $ref: '#/components/schemas/CatalogItem'
        links:
          type: array
          description: An array of links. Can be used for pagination, e.g. by providing a link with the `next` relation type.
          items:
            $ref: '#/components/schemas/CatalogLink'
          example:
          - rel: next
            href: https://services.sentinel-hub.com/catalog/v1/search?next=10
    CatalogMultilinestringGeoJSON:
      title: multilinestringGeoJSON
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - MultiLineString
        coordinates:
          type: array
          items:
            type: array
            minItems: 2
            items:
              type: array
              minItems: 2
              items:
                type: number
    CatalogStacExtensions:
      title: STAC extensions
      type: array
      uniqueItems: true
      items:
        anyOf:
        - title: Reference to a JSON Schema
          type: string
          format: uri
        - title: Reference to a core extension
          type: string
    Cql2ScalarOperands:
      title: scalarOperands
      type: array
      minItems: 2
      maxItems: 2
      items:
        $ref: '#/components/schemas/Cql2ScalarExpression'
    Cql2NumericExpression:
      title: numericExpression
      oneOf:
      - type: number
      - $ref: '#/components/schemas/Cql2PropertyRef'
    CatalogItemSearchLimitFilter:
      title: limitFilter
      type: object
      description: Only returns maximum number of results (page size)
      properties:
        limit:
          $ref: '#/components/schemas/CatalogItemSearchLimit'
    CatalogItemSearchFieldsSearchBody:
      title: searchBody
      type: object
      x-stac-api-fragment: fields
      description: '**Extension:** Fields


        Determines the shape of the features in the response'
      properties:
        fields:
          $ref: '#/components/schemas/CatalogItemSearchFieldsFields'
    CatalogItem:
      title: item
      description: A GeoJSON Feature augmented with foreign members that contain values relevant to a STAC entity
      type: object
      required:
      - stac_version
      - id
      - type
      - geometry
      - bbox
      - links
      - properties
      - assets
      properties:
        stac_version:
          $ref: '#/components/schemas/CatalogStacVersion'
        stac_extensions:
          $ref: '#/components/schemas/CatalogStacExtensions'
        id:
          $ref: '#/components/schemas/CatalogItemId'
        bbox:
          $ref: '#/components/schemas/CatalogBbox'
        geometry:
          $ref: '#/components/schemas/CatalogGeometryGeoJSON'
        type:
          $ref: '#/components/schemas/CatalogItemType'
        links:
          $ref: '#/components/schemas/CatalogLinks'
        properties:
          $ref: '#/components/schemas/CatalogProperties'
        assets:
          $ref: '#/components/schemas/CatalogAssets'
      example:
        stac_version: 1.0.0
        stac_extensions:
        - https://stac-extensions.github.io/eo/v1.0.0/schema.json
        - https://stac-extensions.github.io/view/v1.0.0/schema.json
        type: Feature
        id: CS3-20160503_132131_05
        bbox:
        - -122.59750209
        - 37.48803556
        - -122.2880486
        - 37.613537207
        geometry:
          type: Polygon
          coordinates:
          - - - -122.308150179
              - 37.488035566
            - - -122.597502109
              - 37.538869539
            - - -122.576687533
              - 37.613537207
            - - -122.2880486
              - 37.562818007
            - - -122.308150179
              - 37.488035566
        properties:
          datetime: '2016-05-03T13:22:30.040Z'
          title: A CS3 item
          license: PDDL-1.0
          providers:
          - name: CoolSat
            roles:
            - producer
            - licensor
            url: https://cool-sat.com/
          view:sun_azimuth: 168.7
          eo:cloud_cover: 0.12
          view:off_nadir: 1.4
          platform: coolsat2
          instruments:
          - cool_sensor_v1
          eo:bands: []
          view:sun_elevation: 33.4
          eo:gsd: 0.512
        collection: CS3
        links:
        - rel: self
          href: http://cool-sat.com/collections/CS3/items/20160503_132130_04
        - rel: root
          href: http://cool-sat.com/collections
        - rel: parent
          href: http://cool-sat.com/collections/CS3
        - rel: collection
          href: http://cool-sat.com/collections/CS3
        assets:
          analytic:
            href: http://cool-sat.com/static-catalog/CS3/20160503_132130_04/analytic.tif
            title: 4-Band Analytic
          thumbnail:
            href: http://cool-sat.com/static-catalog/CS3/20160503_132130_04/thumbnail.png
            title: Thumbnail
    CatalogItemSearchDatetimeInterval:
      title: datetimeInterval
      type: string
      description: 'Either a date-time or an interval, open or closed. Date and time expressions

        adhere to RFC 3339. Open intervals are expressed using double-dots.


        Examples:


        * A date-time: "2018-02-12T23:20:50Z"

        * A closed interval: "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z"

        * Open intervals: "2018-02-12T00:00:00Z/.." or "../2018-03-18T12:31:12Z"


        Only features that have a temporal property that intersects the value of

        `datetime` are selected.


        If a feature has multiple temporal properties, it is the decision of the

        server whether only a single temporal property is used to determine

        the extent or all relevant temporal properties.'
      example: 2018-02-12T00:00:00Z/2018-03-18T12:31:12Z
    CatalogItemSearchFilterFilterCql2Json:
      title: filter-cql2-json
      allOf:
      - $ref: '#/components/schemas/Cql2BooleanExpression'
    CatalogMultipointGeoJSON:
      title: multipointGeoJSON
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - MultiPoint
        coordinates:
          type: array
          items:
            type: array
            minItems: 2
            items:
              type: number
    CatalogGeometrycollectionGeoJSON:
      title: geometrycollectionGeoJSON
      type: object
      required:
      - type
      - geometries
      properties:
        type:
          type: string
          enum:
          - GeometryCollection
        geometries:
          type: array
          items:
            $ref: '#/components/schemas/CatalogGeometryGeoJSON'
    CatalogItemSearchFilterFilterCql2Text:
      title: filter-cql2-text
      description: 'A CQL2 filter expression in the ''cql2-text'' encoding.

        '
      type: string
    CatalogItemSearchContextItemCollection:
      title: itemCollection
      type: object
      description: '**Extension:** Context


        Augments lists of resources with the number of returned and matches resource and the given limit for the request.'
      x-stac-api-fragment: context
      properties:
        context:
          type: object
          required:
          - returned
          properties:
            next:
              type: integer
              minimum: 0
              example: 1
            limit:
              type: integer
              minimum: 0
              example: 1
            returned:
              type: integer
              minimum: 0
              example: 1
    CatalogItemSearchIds:
      title: ids
      type: array
      description: Array of Item ids to return.
      items:
        type: string
    Cql2BinaryComparisonPredicate:
      title: binaryComparisonPredicate
      type: object
      required:
      - op
      - args
      properties:
        op:
          type: string
          enum:
          - '='
          - <
          - '>'
          - <=
          - '>='
          - <>
        args:
          $ref: '#/components/schemas/Cql2ScalarOperands'
    Cql2IsBetweenOperands:
      title: isBetweenOperands
      type: array
      minItems: 3
      maxItems: 3
      items:
        $ref: '#/components/schemas/Cql2NumericExpression'
    CatalogLink:
      title: Link
      type: object
      required:
      - href
      - rel
      properties:
        href:
          type: string
          format: uri
          description: The location of the resource
        rel:
          type: string
          description: Relation type of the link
        type:
          type: string
          description: The media type of the resource
        title:
          type: string
          description: Title of the resource
        method:
          type: string
          enum:
          - GET
          - POST
          default: GET
          description: Specifies the HTTP method that the resource expects
        headers:
          type: object
          description: Object key values pairs they map to headers
          example:
            Accept: application/json
        body:
          type: object
          description: For POST requests, the resource can specify the HTTP body as a JSON object.
        merge:
          type: boolean
          default: false
          description: 'This is only valid when the server is responding to POST request.


            If merge is true, the client is expected to merge the body value

            into the current request body before following the link.

            This avoids passing large post bodies back and forth when following

            links, particularly for navigating pages through the `POST /search`

            endpoint.


            NOTE: To support form encoding it is expected that a client be able

            to merge in the key value pairs specified as JSON

            `{"next": "token"}` will become `&next=token`.'
    CatalogItemSearchDatetimeFilter:
      title: datetimeFilter
      description: An object representing a date+time based filter.
      type: object
      properties:
        datetime:
          $ref: '#/components/schemas/CatalogItemSearchDatetimeInterval'
    CatalogException:
      title: exception
      type: object
      description: 'Information about the exception: an error code plus an optional description.'
      required:
      - code
      properties:
        code:
          type: string
        description:
          type: string
    CatalogItemSearchDistinctSearchBody:
      title: searchBody
      type: object
      x-stac-api-fragment: distinct
      description: '**Extension:** Distinct


        Return distinct values of specified property.'
      properties:
        distinct:
          $ref: '#/components/schemas/CatalogItemSearchDistinctDistinct'
    Cql2ComparisonPredicate:
      title: comparisonPredicate
      oneOf:
      - $ref: '#/components/schemas/Cql2BinaryComparisonPredicate'
      - $ref: '#/components/schemas/Cql2IsBetweenPredicate'
    CatalogItemSearchIntersectsFilter:
      title: intersectsFilter
      type: object
      description: Only returns items that intersect with the provided polygon.
      properties:
        intersects:
          $ref: '#/components/schemas/CatalogGeometryGeoJSON'
    Cql2IsBetweenPredicate:
      title: isBetweenPredicate
      type: object
      required:
      - op
      - args
      properties:
        op:
          type: string
          enum:
          - between
        args:
          $ref: '#/components/schemas/Cql2IsBetweenOperands'
    Cql2PropertyRef:
      title: propertyRef
      type: object
      required:
      - property
      properties:
        property:
          type: string
    CatalogLinestringGeoJSON:
      title: linestringGeoJSON
      type: object
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - LineString
        coordinates:
          type: array
          minItems: 2
          items:
            type: array
            minItems: 2
            items:
              type: number
    CatalogItemSearchCollectionsArray:
      title: collectionsArray
      type: array
      description: 'Array of Collection IDs to include in the search for items.

        Only Item objects in one of the provided collections will be searched.'
      items:
        type: string
      minItems: 1
      maxItems: 1
    Cql2CharacterExpression:
      title: characterExpression
      oneOf:
      - type: string
      - $ref: '#/components/schemas/Cql2PropertyRef'
    CatalogItemSearchLimit:
      title: limit
      type: integer
      minimum: 1
      example: 10
      default: 10
      maximum: 100
      description: 'The optional limit parameter limits the number of items that are presented in the response document.


        If the limit parameter value is greater than advertised limit maximum, the server must return the

        maximum possible number of items, rather than responding with an error.


        Only items are counted that are on the first level of the collection in the response document.

        Nested objects contained within the explicitly requested items must not be counted.


        Minimum = 1. Maximum = 100. Default = 10.'
  responses:
    CatalogAccessControlInsufficientPermissions:
      description: Insufficient permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogException'
    CatalogAccessControlIllegalCollection:
      description: Illegal collection.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogException'
    CatalogError:
      description: An error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogException'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "### Authentication\n\nMore about the authentication <a href=\"https://docs.planet.com/develop/authentication/\" target=\"_blank\">here</a>.\n\nTo get an access token using curl:\n\n```\ncurl --request POST \\\n  --url https://services.sentinel-hub.com/auth/realms/main/protocol/openid-connect/token \\\n  --header \"content-type: application/x-www-form-urlencoded\" \\\n  --data \"grant_type=client_credentials&client_id=<your client id>&client_secret=<your client secret>\"\n```\n"
      flows:
        clientCredentials:
          tokenUrl: https://services.sentinel-hub.com/auth/realms/main/protocol/openid-connect/token
          scopes:
            SH: Sentinel Hub
x-tagGroups:
- name: Process API
  tags:
  - process
- name: Catalog
  tags:
  - catalog_core
  - catalog_collections
  - catalog_features
  - catalog_item_search
- name: Async API
  tags:
  - async_process
- name: BatchV2 API
  tags:
  - batch_v2_process
  - batch_v2_tiling_grid
- name: Stats API
  tags:
  - statistical
- name: Batch Stats API
  tags:
  - batch_statistical
- name: BYOC
  tags:
  - byoc_collection
  - byoc_tile
- name: Zarr Import API
  tags:
  - zarr_collection
  - zarr_array
- name: TPDI
  tags:
  - dataimport_search
  - dataimport_product
  - dataimport_order
  - dataimport_delivery
  - dataimport_tile_delivery
  - dataimport_subscription
  - dataimport_subscription_delivery
  - dataimport_subscription_tile_delivery
  - dataimport_quota
- name: Metadata
  tags:
  - metadata_location
  - metadata_collection
