openapi: 3.1.0
info:
  title: API Reference async_process catalog_collections API
  version: 1.0.0
  contact:
    name: Sentinel Hub
  description: '**NOTE:** _Asynchronous Processing API is currently in beta release._

    '
servers:
- url: https://services.sentinel-hub.com
tags:
- name: catalog_collections
  x-displayName: Collections
  description: This is an OpenAPI definition of the SpatioTemporal Asset Catalog API - Collections specification. This is a subset of the STAC API - Features specification.
paths:
  /catalog/v1/collections:
    get:
      tags:
      - catalog_collections
      summary: the feature collections in the dataset
      description: 'A body of Feature Collections that belong or are used together with additional links.

        Request may not return the full set of metadata per Feature Collection.'
      operationId: getCatalogCollections
      responses:
        '200':
          $ref: '#/components/responses/CatalogCollectionsCollections'
        '403':
          $ref: '#/components/responses/CatalogAccessControlInsufficientPermissions'
        '500':
          $ref: '#/components/responses/CatalogCollectionsServerError'
      security:
      - OAuth2: []
  /catalog/v1/collections/{collectionId}:
    get:
      tags:
      - catalog_collections
      summary: describe the feature collection with id `collectionId`
      description: 'A single Feature Collection for the given if `collectionId`.

        Request this endpoint to get a full list of metadata for the Feature Collection.'
      operationId: getCatalogCollection
      parameters:
      - $ref: '#/components/parameters/CatalogCollectionsCollectionId'
      responses:
        '200':
          $ref: '#/components/responses/CatalogCollectionsCollection'
        '400':
          $ref: '#/components/responses/CatalogAccessControlIllegalCollection'
        '403':
          $ref: '#/components/responses/CatalogAccessControlInsufficientPermissions'
        '404':
          $ref: '#/components/responses/CatalogCollectionsNotFound'
        '500':
          $ref: '#/components/responses/CatalogCollectionsServerError'
      security:
      - OAuth2: []
  /catalog/v1/collections/{collectionId}/queryables:
    get:
      summary: Get the JSON Schema defining the list of variable terms that can be used in CQL2 expressions.
      operationId: getCatalogCollectionQueryables
      description: 'This endpoint returns a list of variable terms that can be used in CQL2 expressions. The

        precise definition of this can be found in the OGC API - Features - Part 3: Filtering and the

        Common Query Language (CQL) specification.'
      parameters:
      - in: path
        name: collectionId
        schema:
          type: string
        required: true
        description: ID of Collection
      tags:
      - catalog_collections
      responses:
        '200':
          $ref: '#/components/responses/CatalogCollectionQueryables'
        '400':
          $ref: '#/components/responses/CatalogAccessControlIllegalCollection'
        '403':
          $ref: '#/components/responses/CatalogAccessControlInsufficientPermissions'
        '404':
          $ref: '#/components/responses/CatalogCollectionsNotFound'
        '500':
          $ref: '#/components/responses/CatalogCollectionsServerError'
      security:
      - OAuth2: []
components:
  schemas:
    CatalogLink:
      title: Link
      type: object
      required:
      - href
      - rel
      properties:
        href:
          type: string
          format: uri
          description: The location of the resource
        rel:
          type: string
          description: Relation type of the link
        type:
          type: string
          description: The media type of the resource
        title:
          type: string
          description: Title of the resource
        method:
          type: string
          enum:
          - GET
          - POST
          default: GET
          description: Specifies the HTTP method that the resource expects
        headers:
          type: object
          description: Object key values pairs they map to headers
          example:
            Accept: application/json
        body:
          type: object
          description: For POST requests, the resource can specify the HTTP body as a JSON object.
        merge:
          type: boolean
          default: false
          description: 'This is only valid when the server is responding to POST request.


            If merge is true, the client is expected to merge the body value

            into the current request body before following the link.

            This avoids passing large post bodies back and forth when following

            links, particularly for navigating pages through the `POST /search`

            endpoint.


            NOTE: To support form encoding it is expected that a client be able

            to merge in the key value pairs specified as JSON

            `{"next": "token"}` will become `&next=token`.'
    CatalogStacExtensions:
      title: STAC extensions
      type: array
      uniqueItems: true
      items:
        anyOf:
        - title: Reference to a JSON Schema
          type: string
          format: uri
        - title: Reference to a core extension
          type: string
    CatalogException:
      title: exception
      type: object
      description: 'Information about the exception: an error code plus an optional description.'
      required:
      - code
      properties:
        code:
          type: string
        description:
          type: string
    CatalogLicense:
      title: license
      type: string
      description: 'License(s) of the data as a SPDX

        [License identifier](https://spdx.org/licenses/). Alternatively, use

        `proprietary` if the license is not on the SPDX license list or

        `various` if multiple licenses apply. In these two cases links to the

        license texts SHOULD be added, see the `license` link relation type.


        Non-SPDX licenses SHOULD add a link to the license text with the

        `license` relation in the links section. The license text MUST NOT be

        provided as a value of this field. If there is no public license URL

        available, it is RECOMMENDED to host the license text and

        link to it.'
      example: Apache-2.0
    CatalogStacVersion:
      title: STAC version
      type: string
      example: 1.0.0
    CatalogCollectionsCollections:
      title: collections
      type: object
      required:
      - links
      - collections
      properties:
        links:
          $ref: '#/components/schemas/CatalogLinks'
        collections:
          type: array
          items:
            $ref: '#/components/schemas/CatalogCollection'
    CatalogExtent:
      title: extent
      type: object
      description: 'The extent of the features in the collection. In the Core only spatial and temporal

        extents are specified. Extensions may add additional members to represent other

        extents, for example, thermal or pressure ranges.


        The first item in the array describes the overall extent of

        the data. All subsequent items describe more precise extents,

        e.g., to identify clusters of data.

        Clients only interested in the overall extent will only need to

        access the first item in each array.'
      required:
      - spatial
      - temporal
      properties:
        spatial:
          description: The spatial extent of the features in the collection.
          type: object
          required:
          - bbox
          properties:
            bbox:
              description: 'One or more bounding boxes that describe the spatial extent of the dataset.


                The first bounding box describes the overall spatial

                extent of the data. All subsequent bounding boxes describe

                more precise bounding boxes, e.g., to identify clusters of data.

                Clients only interested in the overall spatial extent will

                only need to access the first item in each array.'
              type: array
              minItems: 1
              items:
                description: 'Each bounding box is provided as four or six numbers, depending on

                  whether the coordinate reference system includes a vertical axis

                  (height or depth):


                  * Lower left corner, coordinate axis 1

                  * Lower left corner, coordinate axis 2

                  * Minimum value, coordinate axis 3 (optional)

                  * Upper right corner, coordinate axis 1

                  * Upper right corner, coordinate axis 2

                  * Maximum value, coordinate axis 3 (optional)


                  The coordinate reference system of the values is WGS 84 longitude/latitude

                  (http://www.opengis.net/def/crs/OGC/1.3/CRS84).


                  For WGS 84 longitude/latitude the values are in most cases the sequence of

                  minimum longitude, minimum latitude, maximum longitude and maximum latitude.

                  However, in cases where the box spans the antimeridian the first value

                  (west-most box edge) is larger than the third value (east-most box edge).


                  If the vertical axis is included, the third and the sixth number are

                  the bottom and the top of the 3-dimensional bounding box.


                  If a feature has multiple spatial geometry properties, it is the decision of the

                  server whether only a single spatial geometry property is used to determine

                  the extent or all relevant geometries.'
                type: array
                minItems: 4
                maxItems: 6
                items:
                  type: number
                example:
                - -180
                - -90
                - 180
                - 90
            crs:
              description: 'Coordinate reference system of the coordinates in the spatial extent

                (property `bbox`). The default reference system is WGS 84 longitude/latitude.

                In the Core this is the only supported coordinate reference system.

                Extensions may support additional coordinate reference systems and add

                additional enum values.'
              type: string
              enum:
              - http://www.opengis.net/def/crs/OGC/1.3/CRS84
              default: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        temporal:
          description: The temporal extent of the features in the collection.
          type: object
          required:
          - interval
          properties:
            interval:
              description: 'One or more time intervals that describe the temporal extent of the dataset.


                The first time interval describes the overall

                temporal extent of the data. All subsequent time intervals describe

                more precise time intervals, e.g., to identify clusters of data.

                Clients only interested in the overall extent will only need

                to access the first item in each array.'
              type: array
              minItems: 1
              items:
                description: 'Begin and end times of the time interval. The timestamps

                  are in the coordinate reference system specified in `trs`. By default

                  this is the Gregorian calendar.


                  The value `null` is supported and indicates an open time interval.'
                type: array
                minItems: 2
                maxItems: 2
                items:
                  oneOf:
                  - type: string
                    format: date-time
                  - type: 'null'
                example:
                - '2011-11-11T12:22:11Z'
                - null
            trs:
              description: 'Coordinate reference system of the coordinates in the temporal extent

                (property `interval`). The default reference system is the Gregorian calendar.

                In the Core this is the only supported temporal reference system.

                Extensions may support additional temporal reference systems and add

                additional enum values.'
              type: string
              enum:
              - http://www.opengis.net/def/uom/ISO-8601/0/Gregorian
              default: http://www.opengis.net/def/uom/ISO-8601/0/Gregorian
    CatalogCollection:
      title: collection
      type: object
      required:
      - stac_version
      - type
      - id
      - description
      - license
      - extent
      - links
      properties:
        stac_version:
          $ref: '#/components/schemas/CatalogStacVersion'
        stac_extensions:
          $ref: '#/components/schemas/CatalogStacExtensions'
        type:
          type: string
        id:
          description: identifier of the collection used, for example, in URIs
          type: string
        title:
          description: human readable title of the collection
          type: string
        description:
          type: string
          description: 'Detailed multi-line description to fully explain the catalog or collection.

            [CommonMark 0.29](http://commonmark.org/) syntax MAY be used for rich text representation.'
        keywords:
          type: array
          description: List of keywords describing the collection.
          items:
            type: string
        license:
          $ref: '#/components/schemas/CatalogLicense'
        extent:
          $ref: '#/components/schemas/CatalogExtent'
        providers:
          $ref: '#/components/schemas/CatalogProviders'
        links:
          $ref: '#/components/schemas/CatalogLinks'
        summaries:
          description: 'Summaries are either a unique set of all available values *or*

            statistics. Statistics by default only specify the range (minimum

            and maximum values), but can optionally be accompanied by additional

            statistical values. The range can specify the potential range of

            values, but it is recommended to be as precise as possible. The set

            of values must contain at least one element and it is strongly

            recommended to list all values. It is recommended to list as many

            properties as reasonable so that consumers get a full overview of

            the Collection. Properties that are covered by the Collection

            specification (e.g. `providers` and `license`) may not be repeated

            in the summaries.'
          type: object
          additionalProperties:
            oneOf:
            - type: array
              title: Set of values
              items:
                description: A value of any type.
            - type: object
              title: Statistics
              description: 'By default, only ranges with a minimum and a maximum value can

                be specified. Ranges can be specified for ordinal values only,

                which means they need to have a rank order. Therefore, ranges

                can only be specified for numbers and some special types of

                strings. Examples: grades (A to F), dates or times.

                Implementors are free to add other derived statistical values

                to the object, for example `mean` or `stddev`.'
              required:
              - min
              - max
              properties:
                min:
                  anyOf:
                  - type: string
                  - type: number
                max:
                  anyOf:
                  - type: string
                  - type: number
    CatalogProviders:
      title: providers
      type: array
      description: A list of providers, which may include all organizations capturing or processing the data or the hosting provider. Providers should be listed in chronological order with the most recent provider being the last element of the list.
      items:
        type: object
        title: Provider
        required:
        - name
        properties:
          name:
            description: The name of the organization or the individual.
            type: string
          description:
            description: 'Multi-line description to add further provider information such as processing details for processors and producers, hosting details for hosts or basic contact information.


              [CommonMark 0.29](http://commonmark.org/) syntax MAY be used for rich text representation.'
            type: string
          roles:
            description: "Roles of the provider.\n\nThe provider's role(s) can be one or more of the following\nelements:\n\n* licensor: The organization that is licensing the dataset under\n  the license specified in the collection's license field.\n* producer: The producer of the data is the provider that\n  initially captured and processed the source data, e.g. ESA for\n  Sentinel-2 data.\n* processor: A processor is any provider who processed data to a\n  derived product.\n* host: The host is the actual provider offering the data on their\n  storage. There should be no more than one host, specified as last\n  element of the list."
            type: array
            items:
              type: string
              enum:
              - producer
              - licensor
              - processor
              - host
          url:
            description: Homepage on which the provider describes the dataset and publishes contact information.
            type: string
            format: url
    CatalogLinks:
      title: links
      type: array
      items:
        $ref: '#/components/schemas/CatalogLink'
  responses:
    CatalogCollectionsCollections:
      description: 'The feature collections shared by this API.


        The dataset is organized as one or more feature collections. This resource

        provides information about and access to the collections.


        The response contains the list of collections. For each collection, a link

        to the items in the collection (path `/collections/{collectionId}/items`,

        link relation `items`) as well as key information about the collection.

        This information includes:


        * A local identifier for the collection that is unique for the dataset;

        * A list of coordinate reference systems (CRS) in which geometries may be returned by the server. The first CRS is the default coordinate reference system (the default is always WGS 84 with axis order longitude/latitude);

        * An optional title and description for the collection;

        * An optional extent that can be used to provide an indication of the spatial and temporal extent of the collection - typically derived from the data;

        * An optional indicator about the type of the items in the collection (the default value, if the indicator is not provided, is ''feature'').'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogCollectionsCollections'
          example:
            links:
            - href: https://services.sentinel-hub.com/catalog/v1/
              rel: root
              type: application/json
            - href: https://services.sentinel-hub.com/catalog/v1/collections/
              rel: self
              type: application/json
            - href: https://services.sentinel-hub.com/catalog/v1/
              rel: parent
              type: application/json
            collections:
            - stac_version: 1.0.0
              stac_extensions:
              - https://stac-extensions.github.io/scientific/v1.0.0/schema.json
              - https://stac-extensions.github.io/eo/v1.0.0/schema.json
              type: Collection
              id: sentinel-2-l1c
              title: Sentinel 2 L1C
              description: Sentinel 2 imagery processed to level 1C
              sci:citation: Modified Copernicus Sentinel data [Year]/Sentinel Hub
              license: proprietary
              providers:
              - name: ESA
                roles:
                - producer
                url: https://esa.int/
              - name: AWS
                roles:
                - host
                url: https://aws.amazon.com/
              - name: Sinergise
                roles:
                - processor
                url: https://www.sinergise.com/
              extent:
                spatial:
                  bbox:
                  - - -180
                    - -56
                    - 180
                    - 83
                temporal:
                  interval:
                  - - '2015-11-01T00:00:00Z'
                    - null
              summaries:
                platform:
                - sentinel-2a
                - sentinel-2b
                instrument:
                - msi
                constellation:
                - sentinel-2
                gsd:
                - 10
                eo:cloud_cover:
                  minimum: 0
                  maximum: 100
                eo:bands:
                - name: B01
                  common_name: coastal
                  center_wavelength: 0.4427
                  full_width_half_max: 0.021
                - name: B02
                  common_name: blue
                  center_wavelength: 0.4924
                  full_width_half_max: 0.066
                - name: B03
                  common_name: green
                  center_wavelength: 0.5598
                  full_width_half_max: 0.036
                - name: B04
                  common_name: red
                  center_wavelength: 0.6646
                  full_width_half_max: 0.031
                - name: B05
                  center_wavelength: 0.7041
                  full_width_half_max: 0.015
                - name: B06
                  center_wavelength: 0.7405
                  full_width_half_max: 0.015
                - name: B07
                  center_wavelength: 0.7828
                  full_width_half_max: 0.02
                - name: B08
                  common_name: nir
                  center_wavelength: 0.8328
                  full_width_half_max: 0.106
                - name: B8A
                  common_name: nir08
                  center_wavelength: 0.8647
                  full_width_half_max: 0.021
                - name: B09
                  common_name: nir09
                  center_wavelength: 0.9451
                  full_width_half_max: 0.02
                - name: B10
                  common_name: cirrus
                  center_wavelength: 1.3735
                  full_width_half_max: 0.031
                - name: B11
                  common_name: swir16
                  center_wavelength: 1.6137
                  full_width_half_max: 0.091
                - name: B12
                  common_name: swir22
                  center_wavelength: 2.2024
                  full_width_half_max: 0.175
              links:
              - href: https://services.sentinel-hub.com/catalog/v1/
                rel: root
                type: application/json
              - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-2-l1c
                rel: self
                type: application/json
              - href: https://services.sentinel-hub.com/catalog/v1/collections
                rel: parent
                type: application/json
              - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-2-l1c/queryables
                rel: http://www.opengis.net/def/rel/ogc/1.0/queryables
                type: application/schema+json
              - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-2-l1c/items
                rel: items
                type: application/geo+json
            - stac_version: 1.0.0
              stac_extensions:
              - https://stac-extensions.github.io/scientific/v1.0.0/schema.json
              - https://stac-extensions.github.io/sat/v1.0.0/schema.json
              - https://stac-extensions.github.io/sar/v1.0.0/schema.json
              - https://docs.sentinel-hub.com/api/latest/stac/s1/v1.0.0/schema.json
              type: Collection
              id: sentinel-1-grd
              title: Sentinel 1 GRD
              description: Sentinel 1 Ground Range Detected Imagery
              sci:citation: Modified Copernicus Sentinel data [Year]/Sentinel Hub
              license: proprietary
              providers:
              - name: ESA
                roles:
                - producer
                url: https://esa.int/
              - name: AWS
                roles:
                - host
                url: https://aws.amazon.com/
              - name: Sinergise
                roles:
                - processor
                url: https://www.sinergise.com/
              extent:
                spatial:
                  bbox:
                  - - -180
                    - -85
                    - 180
                    - 85
                temporal:
                  interval:
                  - - '2014-10-03T00:00:00Z'
                    - null
              summaries:
                platform:
                - sentinel-1a
                - sentinel-1b
                instrument:
                - c-sar
                constellation:
                - sentinel-1
                sat:orbit_state:
                - ascending
                - descending
                sar:instrument_mode:
                - SM
                - IW
                - EW
                - WV
                - EN
                - AN
                - IM
                sar:frequency_band:
                - C
                sar:center_frequency:
                - 5.405
                sar:product_type:
                - GRD
                sar:polarizations:
                - HH
                - HV
                - VH
                - VV
                sar:resolution_range:
                - 9
                - 20
                - 23
                - 50
                - 52
                - 84
                - 88
                - 93
                sar:resolution_azimuth:
                - 9
                - 22
                - 23
                - 50
                - 51
                - 84
                - 87
                sar:pixel_spacing_range:
                - 3.5
                - 10
                - 25
                - 40
                sar:pixel_spacing_azimuth:
                - 3.5
                - 10
                - 25
                - 40
                s1:timeliness:
                - NRT10m
                - NRT1h
                - NRT3h
                - Fast24h
                - Offline
                - Reprocessing
                - ArchNormal
                s1:resolution:
                - HIGH
                - MEDIUM
                - FULL
                s1:polarization:
                - SH
                - SV
                - DH
                - DV
                - HH
                - HV
                - VV
                - VH
              links:
              - href: https://services.sentinel-hub.com/catalog/v1/
                rel: root
                type: application/json
              - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-1-grd
                rel: self
                type: application/json
              - href: https://services.sentinel-hub.com/catalog/v1/collections
                rel: parent
                type: application/json
              - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-1-grd/queryables
                rel: http://www.opengis.net/def/rel/ogc/1.0/queryables
                type: application/schema+json
              - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-1-grd/items
                rel: items
                type: application/geo+json
            - stac_version: 1.0.0
              stac_extensions:
              - https://stac-extensions.github.io/scientific/v1.0.0/schema.json
              - https://stac-extensions.github.io/eo/v1.0.0/schema.json
              type: Collection
              id: sentinel-2-l2a
              title: Sentinel 2 L2A
              description: Sentinel 2 imagery processed to level 2A
              sci:citation: Modified Copernicus Sentinel data [Year]/Sentinel Hub
              license: proprietary
              providers:
              - name: ESA
                roles:
                - producer
                url: https://esa.int/
              - name: AWS
                roles:
                - host
                url: https://aws.amazon.com/
              - name: Sinergise
                roles:
                - processor
                url: https://www.sinergise.com/
              extent:
                spatial:
                  bbox:
                  - - -180
                    - -56
                    - 180
                    - 83
                temporal:
                  interval:
                  - - '2016-11-01T00:00:00Z'
                    - null
              summaries:
                platform:
                - sentinel-2a
                - sentinel-2b
                instrument:
                - msi
                constellation:
                - sentinel-2
                gsd:
                - 10
                eo:cloud_cover:
                  minimum: 0
                  maximum: 100
                eo:bands:
                - name: B01
                  common_name: coastal
                  center_wavelength: 0.4427
                  full_width_half_max: 0.021
                - name: B02
                  common_name: blue
                  center_wavelength: 0.4924
                  full_width_half_max: 0.066
                - name: B03
                  common_name: green
                  center_wavelength: 0.5598
                  full_width_half_max: 0.036
                - name: B04
                  common_name: red
                  center_wavelength: 0.6646
                  full_width_half_max: 0.031
                - name: B05
                  center_wavelength: 0.7041
                  full_width_half_max: 0.015
                - name: B06
                  center_wavelength: 0.7405
                  full_width_half_max: 0.015
                - name: B07
                  center_wavelength: 0.7828
                  full_width_half_max: 0.02
                - name: B08
                  common_name: nir
                  center_wavelength: 0.8328
                  full_width_half_max: 0.106
                - name: B8A
                  common_name: nir08
                  center_wavelength: 0.8647
                  full_width_half_max: 0.021
                - name: B09
                  common_name: nir09
                  center_wavelength: 0.9451
                  full_width_half_max: 0.02
                - name: B11
                  common_name: swir16
                  center_wavelength: 1.6137
                  full_width_half_max: 0.091
                - name: B12
                  common_name: swir22
                  center_wavelength: 2.2024
                  full_width_half_max: 0.175
              links:
              - href: https://services.sentinel-hub.com/catalog/v1/
                rel: root
                type: application/json
              - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-2-l2a
                rel: self
                type: application/json
              - href: https://services.sentinel-hub.com/catalog/v1/collections
                rel: parent
                type: application/json
              - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-2-l2a/queryables
                rel: http://www.opengis.net/def/rel/ogc/1.0/queryables
                type: application/schema+json
              - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-2-l2a/items
                rel: items
                type: application/geo+json
    CatalogCollectionsCollection:
      description: 'Information about the feature collection with id `collectionId`.


        The response contains a link to the items in the collection

        (path `/collections/{collectionId}/items`, link relation `items`)

        as well as key information about the collection. This information

        includes:


        * A local identifier for the collection that is unique for the dataset;

        * A list of coordinate reference systems (CRS) in which geometries may be returned by the server. The first CRS is the default coordinate reference system (the default is always WGS 84 with axis order longitude/latitude);

        * An optional title and description for the collection;

        * An optional extent that can be used to provide an indication of the spatial and temporal extent of the collection - typically derived from the data;

        * An optional indicator about the type of the items in the collection (the default value, if the indicator is not provided, is ''feature'').'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogCollection'
          example:
            stac_version: 1.0.0
            stac_extensions:
            - https://stac-extensions.github.io/scientific/v1.0.0/schema.json
            - https://stac-extensions.github.io/eo/v1.0.0/schema.json
            type: Collection
            id: sentinel-2-l2a
            title: Sentinel 2 L2A
            description: Sentinel 2 imagery processed to level 2A
            sci:citation: Modified Copernicus Sentinel data [Year]/Sentinel Hub
            license: proprietary
            providers:
            - name: ESA
              roles:
              - producer
              url: https://esa.int/
            - name: AWS
              roles:
              - host
              url: https://aws.amazon.com/
            - name: Sinergise
              roles:
              - processor
              url: https://www.sinergise.com/
            extent:
              spatial:
                bbox:
                - - -180
                  - -56
                  - 180
                  - 83
              temporal:
                interval:
                - - '2016-11-01T00:00:00Z'
                  - null
            summaries:
              platform:
              - sentinel-2a
              - sentinel-2b
              instrument:
              - msi
              constellation:
              - sentinel-2
              gsd:
              - 10
              eo:cloud_cover:
                minimum: 0
                maximum: 100
              eo:bands:
              - name: B01
                common_name: coastal
                center_wavelength: 0.4427
                full_width_half_max: 0.021
              - name: B02
                common_name: blue
                center_wavelength: 0.4924
                full_width_half_max: 0.066
              - name: B03
                common_name: green
                center_wavelength: 0.5598
                full_width_half_max: 0.036
              - name: B04
                common_name: red
                center_wavelength: 0.6646
                full_width_half_max: 0.031
              - name: B05
                center_wavelength: 0.7041
                full_width_half_max: 0.015
              - name: B06
                center_wavelength: 0.7405
                full_width_half_max: 0.015
              - name: B07
                center_wavelength: 0.7828
                full_width_half_max: 0.02
              - name: B08
                common_name: nir
                center_wavelength: 0.8328
                full_width_half_max: 0.106
              - name: B8A
                common_name: nir08
                center_wavelength: 0.8647
                full_width_half_max: 0.021
              - name: B09
                common_name: nir09
                center_wavelength: 0.9451
                full_width_half_max: 0.02
              - name: B11
                common_name: swir16
                center_wavelength: 1.6137
                full_width_half_max: 0.091
              - name: B12
                common_name: swir22
                center_wavelength: 2.2024
                full_width_half_max: 0.175
            links:
            - href: https://services.sentinel-hub.com/catalog/v1/
              rel: root
              type: application/json
            - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-2-l2a
              rel: self
              type: application/json
            - href: https://services.sentinel-hub.com/catalog/v1/collections
              rel: parent
              type: application/json
            - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-2-l2a/queryables
              rel: http://www.opengis.net/def/rel/ogc/1.0/queryables
              type: application/schema+json
            - href: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-2-l2a/items
              rel: items
              type: application/geo+json
    CatalogCollectionsNotFound:
      description: The requested URI was not found.
    CatalogCollectionsServerError:
      description: A server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogException'
    CatalogCollectionQueryables:
      description: A JSON Schema defining the Queryables allowed in CQL2 expressions
      content:
        application/schema+json:
          schema:
            type: object
          example:
            $schema: https://json-schema.org/draft/2019-09/schema
            $id: https://services.sentinel-hub.com/catalog/v1/collections/sentinel-2-l2a/queryables/
            type: object
            title: Queryables for Catalog STAC API
            description: Queryable names for the Catalog STAC API Item Search filter.
            properties:
              eo:cloud_cover:
                description: Cloud Cover
                type: number
                minimum: 0
                maximum: 100
            additionalProperties: false
    CatalogAccessControlInsufficientPermissions:
      description: Insufficient permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogException'
    CatalogAccessControlIllegalCollection:
      description: Illegal collection.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogException'
  parameters:
    CatalogCollectionsCollectionId:
      name: collectionId
      in: path
      description: local identifier of a collection
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "### Authentication\n\nMore about the authentication <a href=\"https://docs.planet.com/develop/authentication/\" target=\"_blank\">here</a>.\n\nTo get an access token using curl:\n\n```\ncurl --request POST \\\n  --url https://services.sentinel-hub.com/auth/realms/main/protocol/openid-connect/token \\\n  --header \"content-type: application/x-www-form-urlencoded\" \\\n  --data \"grant_type=client_credentials&client_id=<your client id>&client_secret=<your client secret>\"\n```\n"
      flows:
        clientCredentials:
          tokenUrl: https://services.sentinel-hub.com/auth/realms/main/protocol/openid-connect/token
          scopes:
            SH: Sentinel Hub
x-tagGroups:
- name: Process API
  tags:
  - process
- name: Catalog
  tags:
  - catalog_core
  - catalog_collections
  - catalog_features
  - catalog_item_search
- name: Async API
  tags:
  - async_process
- name: BatchV2 API
  tags:
  - batch_v2_process
  - batch_v2_tiling_grid
- name: Stats API
  tags:
  - statistical
- name: Batch Stats API
  tags:
  - batch_statistical
- name: BYOC
  tags:
  - byoc_collection
  - byoc_tile
- name: Zarr Import API
  tags:
  - zarr_collection
  - zarr_array
- name: TPDI
  tags:
  - dataimport_search
  - dataimport_product
  - dataimport_order
  - dataimport_delivery
  - dataimport_tile_delivery
  - dataimport_subscription
  - dataimport_subscription_delivery
  - dataimport_subscription_tile_delivery
  - dataimport_quota
- name: Metadata
  tags:
  - metadata_location
  - metadata_collection
